__pycache__/
*.py[cod]
.venv/
.env
.pytest_cache/
.coverage
htmlcov/
dist/
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
*.tfvars

# Docker
docker-compose.override.yml
