name: CI - Processing Service

on:
  push:
    branches: [ "main" ]
    paths:
      - 'processing_service/**'
      - '.github/workflows/ci-processing.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'processing_service/**'

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./processing_service

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Install Dependencies
      # Installs torch (cpu) and other libs
      run: make install

    - name: Run Tests
      # Uses moto and mocks
      run: make test
