name: Deploy to AWS

on:
  push:
    tags:
      - 'v*' # Dispara apenas em tags de versão (ex: v0.3.1)
  workflow_dispatch: # Permite disparo manual

jobs:
  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./aws_infrastructure
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.5.0"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan -out=tfplan

      # Em caso de PR/Push na main sem tag, poderíamos parar no Plan
      # Como o disparo é por TAG, assumimos que é deploy real
      - name: Terraform Apply
        run: terraform apply -auto-approve tfplan
